---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Notes:
// for glyphs, check out http://getbootstrap.com/components/
// override bootstrap values, full list of variables:
// http://getbootstrap.com/customize/#less-variables
$font-size-base: 18px;
$font-size-small: 12px;
//$font-size-h1: 40px;

// Small screen / tablet
$container-sm: 720px;
// Medium screen / desktop
$container-md: 960px;
// Large screen / wide desktop
$container-lg: 960px;

// for info buttons (especially on front page)
$brand-info: rgb(123, 165, 244);

// import bootstrap
@import "bootstrap";

// custom css
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll; // to make sure that the content doesn't always shift around when the scrollbar first shows up
}

body {
  padding-top: 50px;
  margin-bottom: $navbar-height;
}

.gap-right {
  margin-right: 10px;
}

.gap-left {
  margin-left: 10px;
}

.framed {
  border: 2px solid #000000;
}


.page-top-image {
  width:100%;
  height:300px;
  background-size:cover;
  border-bottom: 3px solid #222;
  color: white; // text color
  padding: 50px;
  font-size: 14pt;
  img { width: 100%; }
}

// for front page
$front-page-lines-thick: 3px solid white;
$front-page-lines-thin: 2px solid white;
.front-page {
  background-image: url('../images/yellowstone_lowres.jpg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: $front-page-lines-thick;
  //border-radius: 6px;
  box-sizing: border-box;
  min-height: 500px !important; // can set minimum height here

  table {
    width: 100%;
    color: white; // text color
    table-layout: fixed;
  }
}

.front-page-title {
  background:rgba(0, 0, 0,.3); // opacity for front page title
  padding: 20px;
  border-top: $front-page-lines-thick;
  border-bottom: $front-page-lines-thick;
  h3 {margin: 0px;}
  h4 {margin: 0px; margin-top: 10px;}
  a { text-decoration: none; color: inherit; }
}

.front-page-info {
  border-left: $front-page-lines-thick;
  border-bottom: $front-page-lines-thick;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.front-page-news {
  vertical-align: top;
  background: $brand-info;
}

.front-page-lab {
  border-bottom: 0px solid;
  background: black;
  text-align: right;
  h3 { margin: 0px; }
  a { text-decoration: none; color: inherit; }
}

.front-page-gap {
  height: 50px;
  td:nth-child(1) { width: 50%; }
  td:nth-child(2) {
    border-left: $front-page-lines-thin;
    border-right: $front-page-lines-thin;
  }
  td:nth-child(3) { width: 50%; }
}

.front-page-menu {
  border: $front-page-lines-thin;
}

.btn-group-vertical.front-page-menu-group {
  width: 100%;
  .btn:first-child { border-radius: 0 0 0 0; }
  .btn:last-child { border-radius: 0 0 0 0; }
  .btn {margin-left: 0; margin-top: 0; }
}

.front-page-links  {
  background:rgba(0, 0, 0,.3); // set opacity for front page links
  border: 0px solid;
  text-align: left; // alignment of menu links
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}
