---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Notes:
// for glyphs, check out http://getbootstrap.com/components/
// override bootstrap values, full list of variables:
// http://getbootstrap.com/customize/#less-variables

/***** Bootstrap settings ******/
$font-size-base: 18px;
$font-size-small: 12px;
//$font-size-h1: 40px;

// Small screen / tablet
$container-sm: 720px;
// Medium screen / desktop
$container-md: 960px;
// Large screen / wide desktop
$container-lg: 960px;

// for info buttons (especially on front page)
$brand-info: rgb(123, 165, 244);
@import "bootstrap";

/***** Frontpage settings ******/
$front-page-lines-thick: 3px solid white;
$front-page-lines-thin: 2px solid white;
$front-page-boxes: rgba(0, 0, 0, 0.4); // opacity
$front-page-height: 700px;
@import "frontpage";

/***** General settings ******/
@import "general";


.jumbotron{
  background: url("../images/front_page/yellowstone_lowres.jpg") no-repeat center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container .jumbotron {
  //border-radius: 0px;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}


/***** Image settings ******/
.border {
  border: 2px solid rgb(33,33,33);
}

// page divider
.page-divider {
	$divider-color: #ddd;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}
