---
layout: default
menu: People
icon: fa fa-users
title: The Team
title_height: 70px
image:
  - file: /header_images/people/starfish.jpg
image_height: 200px
category: people
permalink: /people/
filters:
  - label: Faculty
    id: faculty
  - label: Postdocs
    id: postdoc
  - label: Grad Students
    id: grad
  - label: Undergraduates
    id: undergrad
  - label: Staff
    id: staff
grid: |
  masonry: {
    columnWidth: 292, // also needs changing in style.scss $people-image-width
    gutter: 20,
    isFitWidth: true
  }
weight: 1
---

<br />

<div class="people-grid">

	<!-- Filters -->
	<div class="filters">
		<div id="filters" class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active" data-filter="*"><input type="radio" checked> All</label>
				{% for filter in page.filters %}
				<label class="btn btn-primary" data-filter=".{{ filter.id }}"><input type="radio">{{ filter.label }}</label>
				{% endfor %}
		</div>
	</div>

  <h3>Geomicrobial Physiology Lab</h3>

	<div class="grid">
		{% for person in site.categories.people reversed %}
    {% unless person.collaborator %}
		<div class="grid-item {{ person.group }}" alt="{{ person.title }}" title="{{ person.title }}">
			<div class="center-wrap-1"><div class="center-wrap-2"><div class="center-wrap-3">
				<div class="info">
					<a href="{{ person.url }}">
						<h4>{{ person.title }}</h4>
						<p>{{ person.position }}</p>
					</a>
				</div>
			</div></div></div>

			<a href="{{ person.url }}" class="background">
				<div class="grid-image">
          {% if person.thumbnail %}<img src="{{ person.thumbnail }}"/>
          {% else %}<br /><center>{{ person.title }}</center>
          {% endif %}
        </div>
			</a>
		</div>
    {% endunless %}
		{% endfor %}
	</div>

  <h3>Joint Geobiology Labs (Faculty & Staff)</h3>

  <div class="grid">
    {% for person in site.categories.people reversed %}
    {% if person.collaborator %}

    {% if person.website %}
      {% assign web_url = person.website %}
    {% else %}
      {% assign web_url = person.url %}
    {% endif %}

    <div class="grid-item {{ person.group }}" alt="{{ person.title }}" title="{{ person.title }}">
      <div class="center-wrap-1"><div class="center-wrap-2"><div class="center-wrap-3">
        <div class="info">
          <a href="{{ web_url }}">
            <h4>{{ person.title }}</h4>
            <p>{{ person.position }}</p>
          </a>
        </div>
      </div></div></div>

      <a href="{{ web_url }}" class="background">
        <div class="grid-image">
          {% if person.thumbnail %}<img src="{{ person.thumbnail }}"/>
          {% else %}<br /><center>{{ person.title }}</center>
          {% endif %}
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
