<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

  <!-- Style -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="{{ site.icon }}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Javascript -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/return_to_top.js"></script>
  <script src="/js/return_to_top.js"></script>
  <script src="/js/tooltips.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106138361-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.ga }}');
  </script>

  {% if page.image %}
  <!-- Slideshow -->
  <script type="text/javascript">
    // start slideshow with a random slide
    $(document).ready(function() {
      var rand = Math.floor((Math.random() * $('.item').length));
      $('#slideshow').carousel(rand);
      $('#slideshow').show();
      //$('#slideshow').fadeIn(1000); // (for fast display instead)
    });
  </script>
  {% endif %}

  {% if page.grid %}
  <!-- Grid -->
  <script type="text/javascript">
  $(document).ready(function() {
      // init grid
      var $grid = $('.grid').isotope({
        itemSelector: '.grid-item',
        {{ page.grid }}
      });

      // bind filter button click
      $('#filters').on( 'click', 'label', function() {
        var filterValue = $( this ).attr('data-filter');
        $grid.isotope({ filter: filterValue });
      });
  });
  </script>
  {% endif %}

</head>
