<!-- find previous and next post within category -->
{% if page.categories %}
  {% assign category = page.categories[0] %}
  {% for post in site.categories[category] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories[category] %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if include.asc %}
  <!-- posts sorted in ascending order -->
  {% assign tmp_post = prev_post %}
  {% assign prev_post = next_post %}
  {% assign next_post = tmp_post %}
{% endif %}

<div class="post-navigation">
  <div class="next-post">
    {% if next_post.url %}
      <a href="{{ next_post.url }}">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
        <span class="page-number">{{ next_post.title }}</span>
      </a>
    {% endif %}
  </div>
  <div class="prev-post">
    {% if prev_post.url %}
      <a href="{{ prev_post.url }}">
        <span class="page-number">{{ prev_post.title }}</span>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {% endif %}
  </div>
</div>
