---
layout: plain
---

{% capture title %}
  <h2>{{ page.title }}</h2>
  {% if page.subtitle %}
  <h4>{{ page.subtitle }}</h4>
  {% endif %}
  <h5>
    <strong>Next class</strong>: {{ page.term }} |
    <strong>Time</strong>: {{ page.time }}
    {% if page.location %}
    | <strong>Location</strong>: {{ page.location }}
    {% endif %}
  </h5>
  {% if page.catalog %}
  <h5><strong>Course #: </strong>{{ page.catalog }}</h5>
  {% endif %}

  {% include navigation.html %}

{% endcapture %}

{% include title.html title = title %}

<div class="container">
  {{ content }}

  {% if page.picture %}
  {% unless page.hide_picture %}
  <br/>
  <center>
    {% include image.html img=page.picture class="" width="80%" %}
  </center>
  {% endunless %}
  {% endif %}

</div>
